* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
  color: black;
}

.ppalDiv {
  height: 100%;
  background: url('./img/fondo1.jpg') no-repeat 55%;
  background-size: cover;
}

.mensaje {

  padding: 4% 5% 4% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coso {
  width: 100%;
  /* height: 100vh; */
}

hr.solid {
  margin: auto;
  border-top: 1px solid #000;
  width: 90%;
}

@media screen and (max-width: 820px) {
  .coso {
    /* height: auto; */
  }
}